@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;700&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@700&display=swap");
/*Reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*--------------------*/
* img,
* picture {
  max-width: 100%;
  max-height: 100%;
}

input,
textarea {
  border-radius: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
}

.btn-active {
  border-bottom: 2px solid #fcbb08;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--1336 {
  max-width: 1440px;
  padding: 0 52px;
}

.container--1365 {
  max-width: 1395px;
}

.container--1440 {
  max-width: 1440px;
  padding: 0;
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
}

.logo__img {
  width: 42px;
  height: 42px;
}

.logo__img--center {
  margin: 0 auto;
}

.title {
  font-family: "Montserrat", sans-serif;
  color: #242121;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  position: relative;
  padding: 0 0 25px 0;
}
.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 60px;
  height: 4px;
  background-color: #fcbb08;
}

.text {
  color: #373a39;
  font-weight: 300;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.text--lighter {
  color: #777777;
}

.header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__fullscreen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.header__top {
  padding: 26px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__top-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.burger {
  display: none;
  width: 45px;
  height: 35px;
  background: transparent;
  position: relative;
}
.burger::before, .burger::after {
  content: "";
}
.burger::before, .burger::after,
.burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fcbb08;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active::before {
  -webkit-transform: rotateZ(45deg) translateY(-50%);
          transform: rotateZ(45deg) translateY(-50%);
  top: 50%;
}
.burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.burger.active::after {
  -webkit-transform: rotateZ(-45deg) translateY(50%);
          transform: rotateZ(-45deg) translateY(50%);
  bottom: 50%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  font-family: "Raleway", sans-serif;
  color: #373a39;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.menu__link {
  padding: 0 0 9px 0;
}

.header__content {
  background: url("../img/background/Header-bg.webp") no-repeat center/cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0;
  margin: 94px 0 0 0;
}

.header__content-body {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.header__title {
  color: white;
  font-size: 100px;
  margin: 0 0 18px 0;
}

.header__subtitle {
  color: #fcbb08;
  font-size: 16px;
  letter-spacing: 0.17em;
}

@-webkit-keyframes lets-scroll {
  0% {
    top: 20%;
  }
  50% {
    top: 67%;
  }
  100% {
    top: 20%;
  }
}

@keyframes lets-scroll {
  0% {
    top: 20%;
  }
  50% {
    top: 67%;
  }
  100% {
    top: 20%;
  }
}
.header__decor {
  width: 26px;
  height: 43px;
  border: 2px solid white;
  border-radius: 100px;
  position: absolute;
  bottom: 62px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__decor::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: lets-scroll 2s ease-in-out infinite;
          animation: lets-scroll 2s ease-in-out infinite;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about {
  padding: 152px 0 162px 0;
  background: #f6f8fa;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__title {
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
}

.about__text {
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.expertise {
  padding: 140px 0 190px 0;
}

.expertise__content {
  margin: 90px 0 110px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.expertise__content-charts {
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
  color: #1d1d1d;
  font-size: 11px;
  line-height: 20px;
  text-transform: uppercase;
}

.expertise__content-progress-bar {
  width: 100%;
  height: 2px;
  background: #f0f0f0;
  position: relative;
}
.expertise__content-progress-bar::before {
  content: "90%";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background: black;
  text-align: end;
  line-height: 2em;
}

.expertise__content-chart:not(:last-child) {
  margin: 0 0 25px 0;
}

.expertise__content-text {
  max-width: 770px;
  min-width: 50%;
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
}

.expertise__items {
  gap: 30px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.expertise__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  gap: 30px;
}

.expertise__item-img {
  width: 50px;
  height: 51px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.expertise__item-title {
  font-family: "Raleway", sans-serif;
  color: #333333;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 0 0 18px 0;
}

.features {
  background: #f6f8fa;
}

.features__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: sticky;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.features__content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 7% 8% 12.5%;
}

.features__text {
  margin: 65px 0 0 0;
}

.portfolio {
  overflow: hidden;
}

.portfolio__top {
  padding: 140px 0 100px 0;
}

.portfolio__top-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__mobile-filter {
  display: none;
  width: 45px;
  height: 35px;
  background: url("../img/icons/filter.svg") no-repeat center/contain;
}

.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}

.portfolio__filter-btn {
  color: #333333;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
  background: transparent;
}

.portfolio__images {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
  gap: 22px;
  margin: 0 0 72px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.portfolio__image-item {
  position: relative;
}

.portfolio__img {
  border: 15px solid #ededed;
}

.portfolio__image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.portfolio__image-title {
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0 0 5px 0;
}

.portfolio__image-subtitle {
  font-size: 12px;
  font-weight: 300;
}

.portfolio__more {
  display: block;
  background: #f6f8fa;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #242121;
  font-weight: 700;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  line-height: 100px;
}

.quote {
  padding: 130px 0 150px 0;
}

.quote__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Merriweather", serif;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  max-width: 650px;
  margin: 0 auto;
}

.quote__text {
  font-size: 18px;
  color: #242121;
  line-height: 36px;
  margin: 0 0 50px 0;
}

.quote__author {
  color: #9e9e9e;
}

.video__content {
  position: relative;
  padding: 0 0 22.5% 0;
}
.video__content video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stats {
  padding: 164px 0;
}

.stats__body {
  display: -ms-grid;
  display: grid;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.stats__item {
  text-align: center;
}

.stats__item-num {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #242121;
  margin: 0 0 9px 0;
}

.stats__item-category {
  color: #00b2a0;
}

.slider {
  background: #f6f8fa;
  padding: 110px 0;
  position: relative;
}

.slider__body {
  padding: 0 97.5px;
}

.slick-slider {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.slick-list.draggable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slick-list {
  margin: 0 0 200px 0;
}

.slick-arrow {
  font-size: 0;
  position: absolute;
  top: 95px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background: url("../img/icons/slider-arrow.svg") center/contain no-repeat transparent;
}

.slick-prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotateZ(180deg);
          transform: translateY(-50%) rotateZ(180deg);
}

.slick-next {
  right: 0;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.slick-dots button {
  font-size: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(36, 33, 33, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slick-dots .slick-active button {
  -webkit-transform: scale(2);
          transform: scale(2);
  background: black;
}

.slider__item-title {
  font-family: "Montserrat", sans-serif;
  color: #242121;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 35px 0;
  max-width: 710px;
}

.slider__item-text {
  max-width: 560px;
}

.team {
  padding: 120px 0 164px 0;
}

.team__items {
  margin: 100px 0 0 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 40px;
}

.team__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__item-img {
  max-width: 370px;
  max-height: 440px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 35px 0;
}

.team__item-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

.team__item-post {
  font-size: 12px;
  color: #c2c2c2;
  font-weight: 300;
}

.pricing {
  padding: 144px 0 162px 0;
  background: #f6f8fa;
}

.pricing__items {
  margin: 90px 0 0 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}

.pricing__item {
  background: white;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #242121;
}
.pricing__item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.pricing__item-plan {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 25px 0;
  font-weight: 700;
  font-size: 16px;
}

.pricing__item-rate {
  font-size: 80px;
  font-weight: 300;
  margin: 0 0 50px 0;
}
.pricing__item-rate span {
  font-size: 20px;
}

.pricing__item-list {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin: 0 0 70px 0;
}

.pricing__item-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.085em;
  background: transparent;
  line-height: 2;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 9.38% 7% 10.5% 9.38%;
}

.contact__form {
  margin: 90px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.contact__form-input,
.contact__form-textarea {
  width: 100%;
  border-bottom: 2px solid black;
  line-height: 20px;
}
.contact__form-input::-webkit-input-placeholder, .contact__form-textarea::-webkit-input-placeholder {
  color: #b8b8b8;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.contact__form-input::-moz-placeholder, .contact__form-textarea::-moz-placeholder {
  color: #b8b8b8;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.contact__form-input:-ms-input-placeholder, .contact__form-textarea:-ms-input-placeholder {
  color: #b8b8b8;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.contact__form-input::-ms-input-placeholder, .contact__form-textarea::-ms-input-placeholder {
  color: #b8b8b8;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.contact__form-input::placeholder,
.contact__form-textarea::placeholder {
  color: #b8b8b8;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.contact__form-input {
  padding: 0 0 16px 0;
}

.contact__form-textarea {
  resize: none;
  padding: 20px 0 0 0;
  height: 200px;
}

.contact__form-submit {
  padding: 15px 55px;
  background: #242121;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.18em;
}

.contact__map {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  padding: 0 50% 0 0;
}
.contact__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__content {
  background: #373a39;
  padding: 110px 0 60px 0;
}

.footer__content-body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 65px;
}

.logo--line {
  width: 150px;
}
.logo--line::after {
  content: "";
  display: block;
  background: #fcbb08;
  width: 150px;
  height: 2px;
  margin: 24px 0 0 0;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.33em;
  text-transform: uppercase;
}

.footer__info {
  color: #a8a8a8;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__arrow {
  width: 17px;
  height: 9px;
  background: url("../img/icons/footer-arrow.svg");
}

.footer__copy {
  background: #2a2c2b;
  padding: 40px 0;
  text-align: center;
  color: #cccccc;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .stats__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 769px) {
  .header__top {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .features__img {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
@media (max-width: 768px) {
  body.active {
    overflow: hidden;
  }

  .header__top::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: 1;
  }

  .header__logo {
    position: relative;
    z-index: 2;
  }

  .burger {
    display: block;
    z-index: 2;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    overflow: scroll;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    position: absolute;
    top: -375px;
    left: 0;
    width: 100%;
    max-height: 100vh;
    padding: 97px 0 50px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .menu__list.active {
    top: 0;
  }

  .header__content {
    padding: 75px 0;
  }

  .header__title {
    font-size: 60px;
  }

  .header__decor {
    display: none;
  }

  .about {
    padding: 50px 0;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__text {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }

  .expertise {
    padding: 50px 0;
  }

  .expertise__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 50px 0;
  }

  .expertise__content-progress-bar {
    height: 3px;
  }
  .expertise__content-progress-bar::before {
    line-height: 2.5em;
  }

  .expertise__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .expertise__item-img {
    border-radius: 50% 0 50% 0;
    background: #f6f8fa;
    width: 75px;
    height: 75px;
    padding: 20px;
  }

  .features {
    padding: 50px 0 0;
  }

  .features__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .features__content {
    padding: 0 15px;
    margin: 0 0 25px 0;
  }

  .features__text {
    margin: 25px 0 0 0;
  }

  .portfolio__mobile-filter {
    display: block;
  }

  .portfolio__top {
    padding: 50px 0;
    position: relative;
  }

  .portfolio__filter {
    width: 100%;
    overflow-x: scroll;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 100%;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #fcbb08;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .portfolio__filter.active {
    left: 0;
  }

  .video__content {
    padding: 0 0 45% 0;
  }

  .slider__body {
    padding: 0;
  }

  .slider {
    padding: 80px 0;
  }

  .slider__item {
    background: white;
    border-radius: 20px;
    padding: 20px 25px;
    margin: 0 15px;
  }

  .slider__item-title {
    font-size: 25px;
    margin: 0 0 20px 0;
  }

  .slick-list {
    margin: 0 0 40px 0;
  }

  .slick-dots {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .team {
    padding: 50px 0;
  }

  .team__items {
    margin: 50px 0 0 0;
  }

  .pricing {
    padding: 50px 0;
  }

  .pricing__items {
    margin: 50px 0 0 0;
  }

  .pricing__item:hover {
    -webkit-transform: none;
            transform: none;
  }

  .contact {
    padding: 50px 0 0 0;
  }

  .contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }

  .contact__content {
    padding: 0 15px;
  }

  .contact__form {
    margin: 50px 0 0 0;
  }

  .contact__form-textarea {
    height: 100px;
  }

  .contact__form-submit {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .contact__map {
    padding: 0 0 50% 0;
  }

  .footer__content {
    padding: 60px 0;
  }

  .footer__content-body {
    gap: 45px;
  }

  .footer__social-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 530px) {
  .container--1336 {
    padding: 0 25px;
  }

  .title {
    font-size: 30px;
  }

  .header__top {
    padding: 20px 0;
  }

  .header__logo .logo__img {
    width: 26px;
    height: 26px;
  }

  .burger {
    width: 35px;
    height: 25px;
  }

  .menu__list {
    top: -403px;
    padding: 66px 0 50px;
  }

  .header__content {
    margin: 66px 0 0 0;
  }

  .contact__map {
    padding: 0 0 100% 0;
  }

  .footer__copy {
    padding: 25px 0;
  }

  .stats {
    padding: 100px 0;
  }
}